body, h1, h2, p, ul, li, a {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: "Nunito", Helvetica, Arial, sans-serif;
	background-color: #FFEBCE;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
img {
	display: block;
	max-width: 100%;
}
* {
	box-sizing: border-box;
}
.capa {
    max-width: 950px;
    margin: 0 auto;
    padding: 85px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.capa h1, h2, h3 {
	color: #4b011c;
	margin: 0 auto;
	padding: 10px 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.nonnos-container {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}
.nonnos-item{
    flex: 1 1 175px;
    margin: 10px;
}
.nonnos-item h1 {
	font-size: 5em;
	margin-bottom: .5em;
}
.nonnos-item h2 {
	font-size: 3em;
	margin-bottom: .5em;
}
.nonnos-item h3 {
	font-size: 1.5em;
	margin-bottom: .2em;
}
.nonnos{
	max-width: 325px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}
.nonnos:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.menu-bg{
    background: #4b011c;
}
.menu{
    max-width: 960px;  
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.menu a{
    color:white;
}
.menu-logo a{
    font-size: 2.25em;
    font-weight: bold;
    margin: 0 10px;
}
.menu-nav ul{
    display: flex;
    flex-wrap: wrap;
}
.menu-nav a{
    font-size: 1.25em;
    display: block;
    padding: 10px;
}
.menu-nav a:hover {
    color: #FFEBCE;
}

.container{
    max-width: 800px;
	margin: 0 auto;
	padding: 60px 0px;
	display: flex;
	flex-wrap: wrap;
}
.container-txt {
    flex: 2 1 300px;
    margin: 0 10px;
}
.container-txt h1 {
    margin-bottom: .5em;
}
.container-txt p {
    margin-bottom: 1em;
    text-align:left;
    padding-top: 25px;
    font-size: 1.3em;
    line-height: 1.4;
}
.container-img{
	flex: 1 1 300px;
    margin: 0 10px;
}

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
}

.produtos-item {
    flex: 1 1 175px;
    margin: 10px;
}

.produtos-item h2 {
    font-size: 3em;
    color: white;
    background: #4b011c; 
    padding: 60px 20px;
}

.produtos-item a{
    color: #FFEBCE;
}

.produtos-item a:hover {
    color: #FFEBCE;
}

.contato {
	max-width: 960px;
	margin: 0 auto;
	padding: 60px 0;
	display: flex;
}
.contato-info h2{
	font-size: 3em;
	margin-bottom: .5em;
}
.contato-info p{
	font-size: 1.25em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: black;
}


.footer-bg{
    background: #4b011c;
}
.footer p {
    color: #FFEBCE;
}

.footer{
    max-width: 960px;  
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


@media (max-width: 600px) {
	.newsletter-form button {
		font-size: 1.5em;
	}
}
